.odds {
    background-color: lightcoral;
    font-family: verdana, dejavu sans, sans-serif;
}

#second {
    color: lightskyblue;
    font-size: 36px;
}

#third {
    font-size: 24px;
}

#fourth {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}